<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Template Sites | Robyn Veitch</title>
    <link rel="stylesheet" href="/resources/index.css" />
    <script type="text/javascript" src="/resources/index.js"></script>
  </head>
  <body>
    <h1 class="main__title">Robyn Veitch | Template Sites</h1>
    <h2 class="main__description">NOTE: still under construction, some other peoples sites are being used only to build the grid.</h2>
    <div class="sites">
      <% sites.forEach(each => { %>
        <div class="site <%= each.classInserts ? each.classInserts : 'small' %>" title="<%= each.title %>">
          <a href="<%= each.local ? each.onsiteURL : each.offsiteURL %>">
            <figure class="site_background">
              <img src="<%= each.thumbnail %>" alt="<%= each.title %> banner image thumbnail.">
            </figure>
            <div class="site_thumb">
            <img src="<%= each.thumbnail %>" alt="<%= each.title %> banner image thumbnail.">
          </div>
            <div class="site__details">
              <h3 class="site__title">
                <span><%= each.title %></span>
              </h3>
              <p class="site__description"><%= each.description %></p>
            </div>
          </a>
        </div>
      <% }) %>
    </div>
  </body>
</html>
